<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,100}</string>
                <key>spriteSourceSize</key>
                <string>{367,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{367,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,43}</string>
                <key>spriteSourceSize</key>
                <string>{68,43}</string>
                <key>textureRect</key>
                <string>{{846,84},{68,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_black_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{79,77}</string>
                <key>textureRect</key>
                <string>{{891,1},{79,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_black_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{1103,92},{28,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_dark_brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,25}</string>
                <key>spriteSourceSize</key>
                <string>{28,25}</string>
                <key>textureRect</key>
                <string>{{1112,37},{28,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_grey_noborder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1073,92},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_grey_round.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,71}</string>
                <key>spriteSourceSize</key>
                <string>{173,71}</string>
                <key>textureRect</key>
                <string>{{370,1},{173,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_grey_transparent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{545,1},{106,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,36}</string>
                <key>spriteSourceSize</key>
                <string>{47,38}</string>
                <key>textureRect</key>
                <string>{{555,91},{47,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,71}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{970,1},{73,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_brown_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,81}</string>
                <key>spriteSourceSize</key>
                <string>{77,81}</string>
                <key>textureRect</key>
                <string>{{733,1},{77,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gold_rim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,39}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{604,91},{33,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_gold_rim_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,37}</string>
                <key>spriteSourceSize</key>
                <string>{32,37}</string>
                <key>textureRect</key>
                <string>{{1073,58},{32,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_grey_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,81}</string>
                <key>spriteSourceSize</key>
                <string>{77,81}</string>
                <key>textureRect</key>
                <string>{{812,1},{77,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,81}</string>
                <key>spriteSourceSize</key>
                <string>{78,81}</string>
                <key>textureRect</key>
                <string>{{653,1},{78,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,41}</string>
                <key>spriteSourceSize</key>
                <string>{81,43}</string>
                <key>textureRect</key>
                <string>{{681,84},{81,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_vertical.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,48}</string>
                <key>spriteSourceSize</key>
                <string>{25,48}</string>
                <key>textureRect</key>
                <string>{{389,100},{23,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_yellow_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,43}</string>
                <key>textureRect</key>
                <string>{{764,84},{80,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>glow_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1099,1},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horizontal_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,59}</string>
                <key>spriteSourceSize</key>
                <string>{36,59}</string>
                <key>textureRect</key>
                <string>{{494,95},{32,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>horizontal_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,12}</string>
                <key>spriteSourceSize</key>
                <string>{162,12}</string>
                <key>textureRect</key>
                <string>{{225,103},{162,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hpBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,19}</string>
                <key>spriteSourceSize</key>
                <string>{34,19}</string>
                <key>textureRect</key>
                <string>{{461,74},{34,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hpBar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,21}</string>
                <key>spriteSourceSize</key>
                <string>{34,21}</string>
                <key>textureRect</key>
                <string>{{425,74},{34,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_club.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{1037,76},{35,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,50}</string>
                <key>spriteSourceSize</key>
                <string>{47,50}</string>
                <key>textureRect</key>
                <string>{{988,76},{47,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel_bg_grey.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{1043,1},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progressBar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,30}</string>
                <key>spriteSourceSize</key>
                <string>{53,30}</string>
                <key>textureRect</key>
                <string>{{439,97},{53,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progressBar_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{72,40}</string>
                <key>textureRect</key>
                <string>{{916,82},{70,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progressBar_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{222,20}</string>
                <key>spriteSourceSize</key>
                <string>{224,20}</string>
                <key>textureRect</key>
                <string>{{1,103},{222,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rect_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{645,91},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_glow_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,28}</string>
                <key>spriteSourceSize</key>
                <string>{20,28}</string>
                <key>textureRect</key>
                <string>{{1112,64},{20,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vertical_bar_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,53}</string>
                <key>spriteSourceSize</key>
                <string>{24,53}</string>
                <key>textureRect</key>
                <string>{{370,74},{24,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1141,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a110c4944615b770df4485c0993303b2:a32e6da9484c1d93b29cc455cd6d6bae:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
